.text-example {
  font-family: "Arial", "Georgia", serif;
}

.text-example h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-example p {
  margin-bottom: 15px;
}

.normal {
  font-variant-numeric: normal;
}

.ordinal {
  font-variant-numeric: ordinal;
}

.slashed-zero {
  font-variant-numeric: slashed-zero;
}

.lining-nums {
  font-variant-numeric: lining-nums;
}

.oldstyle-nums {
  font-variant-numeric: oldstyle-nums;
}

.proportional-nums {
  font-variant-numeric: proportional-nums;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.diagonal-fractions {
  font-variant-numeric: diagonal-fractions;
}

.stacked-fractions {
  font-variant-numeric: stacked-fractions;
}