.solid-border {
  border: 2px solid;
  border-block-start: 5px solid red;
  padding: 20px;
  margin: 20px;
}

.dotted-border {
  border: 2px solid;
  border-block-start: 3px dotted blue;
  padding: 20px;
  margin: 20px;
}

.double-border {
  border: 2px solid;
  border-block-start: 4px double green;
  padding: 20px;
  margin: 20px;
}