.contoh {
  width: 200px;
  height: 100px;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.contoh1 {
  border-end-end-radius: 20px;
}

.contoh2 {
  border-end-end-radius: 50%;
}

.contoh3 {
  border-end-end-radius: 10px;
}

.contoh4 {
  border-end-end-radius: 0;
}