.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

table {
  width: 450px;
  border: 1px solid black;
  border-collapse: separate;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.contoh1 {
  border-spacing: 5px;
}

.contoh2 {
  border-spacing: 10px;
}

.contoh3 {
  border-spacing: 15px;
}

.contoh4 {
  border-spacing: 20px 10px;
}