.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contoh {
  width: 200px;
  height: 100px;
  padding: 20px;
  background-color: lightgray;
  border: 2px solid black;
}

.contoh1 {
  border-start-start-radius: 10px;
}

.contoh2 {
  border-start-start-radius: 20px;
}

.contoh3 {
  border-start-start-radius: 30px;
}

.contoh4 {
  border-start-start-radius: 40px;
}