.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contoh {
  width: 200px;
  height: 100px;
  padding: 20px;
  background-color: lightgray;
  border: 2px solid black;
}

.contoh1 {
  border-radius: 5px;
}

.contoh2 {
  border-radius: 15px;
}

.contoh3 {
  border-radius: 25px;
}

.contoh4 {
  border-radius: 50px;
}

.contoh5 {
  border-radius: 50%;
}

.contoh6 {
  border-radius: 15px 50px 15px 50px;
}