.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contoh {
  width: 200px;
  height: 100px;
  padding: 20px;
  background-color: lightgray;
}

.contoh1 {
  border-top: 2px solid black;
}

.contoh2 {
  border-top: 4px dashed red;
}

.contoh3 {
  border-top: 6px double green;
}

.contoh4 {
  border-top: 8px groove blue;
}

.contoh5 {
  border-top: 10px ridge purple;
}