.box1 {
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
  animation: bounce 5s infinite;
  animation-timing-function: linear;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
  animation: bounce 5s infinite;
  animation-timing-function: ease;
}

.box3 {
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
  animation: bounce 5s infinite;
  animation-timing-function: ease-in;
}

.box4 {
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
  animation: bounce 5s infinite;
  animation-timing-function: ease-out;
}

.box5 {
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
  animation: bounce 5s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {

  0%,
  100% {
    transform: translatex(0);
  }

  50% {
    transform: translatex(200px);
  }
}