html {
  scroll-behavior: smooth;
  /* Menerapkan scrolling halus pada seluruh dokumen */
}

body {
  height: 2000px;
  /* Memberikan tinggi agar pengguliran vertikal bisa dilakukan */
}

.container {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #ccc;
  scroll-padding-inline: 20px 50px;
  /* Menambahkan padding 20px di bagian kiri dan 50px di bagian kanan area pengguliran */
}

.content {
  width: 600px;
  height: 400px;
  background: linear-gradient(45deg, #f06, yellow);
}