.grid-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-auto-flow: row;
  gap: 10px;
}

.grid-item {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

.grid-container1 {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-auto-flow: column;
  gap: 10px;
}

.grid-itemm {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  gap: 10px;
}

.grid-itemn {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

#myDIV,
#myDIV1,
#myDIV2,
#myDIV3,
#myDIV4 {
  height: 300px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  display: grid;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

#myDIV div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#myDIV1 div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#myDIV2 div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#myDIV3 div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#myDIV4 div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#myDIV {
  grid-auto-flow: row;
}

#myDIV1 {
  grid-auto-flow: column;
}

#myDIV2 {
  grid-auto-flow: dense;
}

#myDIV3 {
  grid-auto-flow: row dense;
}

#myDIV4 {
  grid-auto-flow: column dense;
}

.item3 {
  grid-column: auto / span 2;
}