.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin-right: 20px;
}

.container {
  width: 50%;
  background-color: lightcoral;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin-right: 30%;
}