.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin-block: 20px;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin-block: 10px 20px;
}

.bluediv {
  width: 200px;
  background-color: rgba(182, 215, 229, 0.6);
  border: solid black 1px;
  margin-block: 10px;
}

.reddiv {
  width: 200px;
  background-color: rgba(239, 135, 88, 0.6);
  text-align: center;
}