.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 20px;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.container {
  width: 50%;
  background-color: lightcoral;
}

.box2 {
  width: 50%;
  height: 100px;
  background-color: lightblue;
  margin: 10%;
}

.box3 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 0 auto;
}