.no-decoration {
  text-decoration-line: none;
  /* Tidak ada dekorasi teks */
}

.underline {
  text-decoration-line: underline;
  /* Garis bawah pada teks */
}

.overline {
  text-decoration-line: overline;
  /* Garis di atas teks */
}

.line-through {
  text-decoration-line: line-through;
  /* Garis tengah pada teks */
}

.underline-overline {
  text-decoration-line: underline overline;
  /* Garis bawah dan garis di atas pada teks */
}

.underline-line-through {
  text-decoration-line: underline line-through;
  /* Garis bawah dan garis tengah pada teks */
}

.overline-line-through {
  text-decoration-line: overline line-through;
  /* Garis di atas dan garis tengah pada teks */
}