.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: background-color 0.5s ease;
  /* Menentukan transisi dengan durasi 0.5 detik */
}

.box:hover {
  background-color: red;
  /* Warna berubah saat hover */
}