.break-after {
  page-break-after: always;
  width: 200px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid black;
  margin-bottom: 20px;
  text-align: center;
  line-height: 100px;
}

break-after {
  page-break-after: auto;
}

.break-after1 {
  page-break-after: always;
}